<div class="text-center">
  <h2><%= @survey.title %></h2>
</div>

<form action="/surveys/" method="post">

</form>


<% @questions.each do |question| %>
  <tr>
    <td>
      <%= question.text %>
    </td>
  </tr>
  <tr>
    <form action="index.html" method="post">
      # edit question here
    </form>
  </tr>

<% end %>
