

<% if @surveys.any? %>
<h2>Here are your surveys:</h2>
    <table>
      <th>
        Survey Name
      </th>
      <th>
        Update
      </th>
      <th>
        Delete
      </th>
      <% @surveys.each do |survey| %>
      <tr>
        <%=survey.title%>
      </tr>
      <tr>
        <a href="/survey/update/<%=survey.id%>/">click | </a>
      </tr>
      <tr>
        <a href="/survey/delete/<%=survey.id%>/">click</a>
      </tr>
    </table>
    <% end %>
<% end %>

<h2>Add a Survey:</h2>

<form id="survey_add" action="/surveys/" method="post">
  <label for="Name">Survey Name</label>
  <input type="text" name="survey_name">
  <button name="submit">submit</button>
</form>
