<div class="row text-center">

  <% if @surveys.any? %>

    <h2>Here are your surveys:</h2>

  </div>

    <table class="table">
      <tr id="first-row">
        <th width="80%">
          Survey Name
        </th>
        <th width="10%" class="text-center">
          Update
        </th>
        <th width="10%" class="text-center">
          Delete
        </th>
      </tr>
      <% @surveys.each do |survey| %>
        <tr>
          <td>
            <a href="/surveys/<%=survey.id%>/"><%=survey.title%></a>
          </td>
          <td>
            <a href="/surveys/update/<%=survey.id%>/">
              <button type="submit" name="update" class="form-control btn btn-primary btn-sm">update</button>
            </a>
          </td>
          <form action="/surveys/delete/<%=survey.id%>/" method="post">
            <td>
              <input type="hidden" name="_method" value="delete">
              <button type="submit" name="delete" class="form-control btn btn-danger btn-sm">delete</button>
            </td>
          </form>
        </tr>
      <% end %>
    </table>

  <% end %>

<div class="row text-center">

  <h2>Add a Survey:</h2>

  <form id="survey_add" action="/surveys/" method="post">
  <label for="Name">Survey Name</label>
  <input type="text" name="survey_name">
  <button name="submit">submit</button>
  </form>

</div>
