<div class="row text-center">

  <% if @surveys.any? %>

    <h2>Here are your surveys:</h2>

  </div>

    <table class="table">
      <tr id="first-row">
        <th width="80%">
          Survey Name
        </th>
        <th width="10%">
          Update
        </th>
        <th width="10%">
          Delete
        </th>
      </tr>
      <% @surveys.each do |survey| %>
        <tr>
          <td>
            <%=survey.title%>
          </td>
          <form action="/survey/update/<%=survey.id%>/" method="post">
            <td>
              <input type="hidden" name="_method" value="patch">
              <button type="submit" name="update" class="form-control btn btn-primary btn-sm">update</button>
            </td>
          </form>
          <form action="/survey/delete/<%=survey.id%>/" method="post">
            <td>
              <input type="hidden" name="_method" value="delete">
              <button type="submit" name="delete" class="form-control btn btn-danger btn-sm">delete</button>
            </td>
          </form>


            <!-- <a href="/survey/delete/<%=survey.id%>/">click</a> -->
        </tr>
      <% end %>
    </table>

  <% end %>

<div class="row text-center">

  <h2>Add a Survey:</h2>

  <form id="survey_add" action="/surveys/" method="post">
  <label for="Name">Survey Name</label>
  <input type="text" name="survey_name">
  <button name="submit">submit</button>
  </form>

</div>
